name: Publish to Test PyPI

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install .
        pip install setuptools wheel twine

    - name: Build package
      run: python -m build

    - name: Publish package to Test PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_KEY }}
      run: twine upload --repository-url https://test.pypi.org/legacy/ dist/*

    - name: Verify package
      run: |
        pip install --index-url https://test.pypi.org/simple/ parsethis

